.box{
    border-radius: 6px;
    height: 40px;
    width: 80px;
    margin: 50px auto;
}

.box-uno{

background-color: aqua;

}

.box-dos{

background-color: brown;

/* transicion se usan dos propiedas o valores i o si, transition-property y transition-duration */
/*transition-duration: 4s;
transition-property: all;*/
transition: all 4s;
}
/* Las transformaciones y las tansiciones se combina con pseudoeclases - hover*/

.box:hover{
    transform: scale(4);
}

.container-circle div{
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin: 10px;
}

.circle1{
    background-color: darkgreen;
    /* Curva de velocidad*/
    transition: all 1.5s linear;
}

.circle2{
    background-color: chocolate;
    transition: all 1.5s ease;
}

.circle3{
    background-color: coral;
    transition: all 1.5s ease-in;
}
.circle4{
    background-color: cornflowerblue;transition: all 1.5s ease-out;
}
.circle5{
    background-color: blue;
    transition: all 1.5s ease-in-out;
}

.container-circle:hover .circle1,
.container-circle:hover .circle2,
.container-circle:hover .circle3,
.container-circle:hover .circle4,
.container-circle:hover .circle5 {
    transform: translateX(300px);
}

.square1, .square2{
    border-radius: 4px;
    height: 150px;
    width: 150px;
    margin: 100px;
    /*En un futuro voy a utilizar las coordenadas en el transform*/
    position: absolute;
}

.square1{
    background-color: teal;
}

.square2{
    background-color: steelblue;
    transition: all 0.8s;
}

.square2:hover{
    /*en este transform se abrevia eje x primero separados por una coma y el eje y */
    transform: translate(20px, 20px);
    background-color: transparent;
}

/*EStilos para las imagenes*/

.prueba-logos{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo-nuevo, .logo-viejo{
    width: 500px;
}

.logo-viejo{
    position: absolute;
    transition: all, 1.5s;
}

.logo-viejo:hover{
    transform: scale(2);
    /*hace transparente a la imagen*/
    opacity: 0;
}

/*combinado*/

.combinado{
    background-color: violet;
    height: 75px;
    width: 75px;
    margin: 50px auto;
    transition: all 2s;
}

.combinado:hover{
    transform: rotate(90deg) scale(2);
}

/*animacion*/

.animacion{
    width: 120px;
    height: 120px;
    margin: 50px auto;
    background-color: yellow;
}

/*1- nombre de la animacion
  2- fotorgrama de la animacion*/

.animacion:hover{
    /*nombre + duracion + hacerlo infinito */
    animation: changeColor 4s infinite;
}

/* @ + agregar el nombre de la animacion a controlar*/

@keyframes changeColor {

    0%{
        background-color: violet;
    }
    
    15%{
        border-radius: 50%;
    }

    25%{
        width: 400px;
    }

    50%{
        background-color: turquoise;
    }

    100%{
        border: 2px solid black;
    }
}